<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
    <meta charset="UTF-8">
    <title>Delete Student</title>
</head>
<body>
<ul>
    <li><a class="active" href="/">Homepage</a></li>
    <li><a href="/admin/students">Students list</a></li>
    <li><a href="/admin/subjects">Subjects list</a></li>
    <li><a href="/admin/mark">Marks list</a></li>
    <li><a href="/admin/class/classes">Classes list</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>
<h1>Delete Student</h1>
<h2>Are you sure?</h2>
<!--<p>
    <a href="/admin/students">Student list</a>
</p>-->
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div id="form">
    <form method="post" th:action="@{/admin/student/delete}" th:object="${student}">
        <input name="id" th:field="*{id}" th:type="hidden">
        <table>
            <tr>
                <td>Name:</td>
                <td th:text="${student.name}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Delete student"></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>

</body>
</html>