<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
</head>
<body>
<ul>
    <li><a class="active" href="/">Homepage</a></li>
    <li><a href="/admin/students">Students list</a></li>
    <li><a href="/admin/subjects">Subjects list</a></li>
    <li><a href="/admin/mark">Marks list</a></li>
    <li><a href="/admin/class/classes">Classes list</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>
<h1>Edit Student</h1>
<!--<p>
    <a href="/admin/students">Student list</a>
</p>-->
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div id="form">
    <form method="post" th:action="@{/admin/student/edit}" th:object="${student}">
        <input name="id" th:field="*{id}" th:type="hidden">
        <table>
            <tr>
                <td>Name:</td>
                <td><input th:field="*{name}" type="text"/></td>
                <td th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Error</td>
            </tr>
            <tr>
                <td>Date Of Birth:</td>
                <td><input th:field="*{dateOfBirth}" type="date"/></td>
                <td th:errors="*{dateOfBirth}" th:if="${#fields.hasErrors('dateOfBirth')}">Name Error</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input th:field="*{mail}" type="text"/></td>
                <td th:errors="*{mail}" th:if="${#fields.hasErrors('mail')}">Name Error</td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td><input th:field="*{phoneNumber}" type="text"/></td>
                <td th:errors="*{phoneNumber}" th:if="${#fields.hasErrors('phoneNumber')}">Name Error</td>
            </tr>
            <tr>
                <td>Class:</td>
                <td>
                    <select th:field="*{clazz}">
                        <option th:each="class : ${classes}"
                                th:selected="(${class.id}==${student.clazz.id})"
                                th:text="${class.name}"
                                th:value="${class.id}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Update student"></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>

</body>
</html>