<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

    <title>Student</title>
</head>
<body>
<ul>
    <li><a class="active" href="/">Homepage</a></li>
    <li><a href="/admin/students">Students list</a></li>
    <li><a href="/admin/subjects">Subjects list</a></li>
    <li><a href="/admin/mark">Marks list</a></li>
    <li><a href="/admin/class/classes">Classes list</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>
<ul>
    <li>
        <a href="/admin/create-student">Create new student</a>
    </li>
</ul>
<!--<p>
    <a href="/logout">Log Out</a>
</p>
<p>
    <a th:href="@{/}">Back to homepage</a>
</p>
<p>
    <a href="/admin/create-student">Create new student</a>
</p>-->
<h1>Students</h1>
<h2>Sort by</h2>
<form th:action="@{/admin/students/sort/}">
    <select name="sortBy">
        <option value="-1"></option>
        <option value="name">Name</option>
        <option value="clazz">Class</option>
    </select>
    <input type="submit" value="Sort">
</form>
<form th:action="@{/admin/students}">
    Search by name
    <input name="key_word" th:type="text" th:value="${key_word}"/>
    <input type="submit" value="Search">
</form>
<div id="form">
<!--    <form th:action="@{/admin/students}">
        Search by name
        <input name="key_word" th:type="text" th:value="${key_word}"/>
        <input type="submit" value="Search">
    </form>-->
    <form onchange="this.submit()" th:action="@{/admin/student/searchByClass}">
        <a>Search by class</a>
        <select name="classId">
            <option value=-1></option>
            <option th:each="class :${classes}"
                    th:selected="(${class.id}==${classId})"
                    th:text="${class.name}"
                    th:value="${class.id}"></option>
        </select>
    </form>
</div>
<table id="student">
    <tr>
        <th>Name</th>
        <th>Date Of Birth</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Class</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Detail</th>
    </tr>
    <th:block th:each="student : ${students}">
        <tr>
            <td th:text="${student.name}"></td>
            <td th:text="${#dates.format(student.dateOfBirth, 'dd/MM/yyyy')}"></td>
            <td th:text="${student.mail}"></td>
            <td th:text="${student.phoneNumber}"></td>
            <td th:text="${student.clazz.name}"></td>
            <td><a th:href="@{/admin/student/edit/__${student.id}__ }">Edit</a></td>
            <td><a th:href="@{/admin/student/delete/__${student.id}__ }">Delete</a></td>
            <td><a th:href="@{/admin/student/view/__${student.id}__}">Detail</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/students'(page=${students.number - 1})}" th:if="${students.hasPrevious()}">Previous</a>
    <span th:text="${students.number + 1}"></span>/<span th:text="${students.totalPages}"></span>
    <a th:href="@{'/students'(page=${students.number + 1})}" th:if="${students.hasNext()}">Next</a>
</div>
<footer th:replace="layout :: footer"></footer>

</body>
</html>
