<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<meta charset="UTF-8">
<title>Student Detail</title>
</head>
<body>
<ul>
    <li><a class="active" href="/">Homepage</a></li>
    <li><a href="/admin/students">Students list</a></li>
    <li><a href="/admin/subjects">Subjects list</a></li>
    <li><a href="/admin/mark">Marks list</a></li>
    <li><a href="/admin/class/classes">Classes list</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>
<h1>Student Detail</h1>
<!--<p>
    <a href="/admin/students">List Student</a>
</p>-->
<form th:object="${student}">
    <h3>Student</h3>
    <h3 th:text="*{name}"></h3>
    <table border="1px" id="student">
        <tr>
            <th>Subject</th>
            <th>Mark</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="mark : ${marks}">
            <tr>
                <td th:text="${mark.subject.name}"></td>
                <td th:text="${mark.mark}"></td>
                <td><a th:href="@{/admin/mark/edit/__${student.id}__ }">Edit</a></td>
                <td><a th:href="@{/admin/mark/delete/__${student.id}__ }">Delete</a></td>
            </tr>
        </th:block>
    </table>
</form>
<footer th:replace="layout :: footer"></footer>

</body>
</html>