<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
    <meta charset="UTF-8">
    <title>Create Mark</title>
</head>
<body>
<ul>
    <li><a class="active" href="/">Homepage</a></li>
    <li><a href="/admin/students">Students list</a></li>
    <li><a href="/admin/subjects">Subjects list</a></li>
    <li><a href="/admin/mark">Marks list</a></li>
    <li><a href="/admin/class/classes">Classes list</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>
<h1>Create Mark</h1>
<!--<p>
    <a href="/admin/mark">Mark list</a>
</p>-->
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div id="form">
    <form method="post" th:action="@{/admin/mark/create}" th:object="${mark}">
        <table>
            <tr>
                <td>Name</td>
                <td>
                    <select th:field="*{student}">
                        <option th:each="student : ${students}" th:text="${student.name}+' class '+${student.clazz.name}" th:value="${student.id}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Subject</td>
                <td>
                    <select th:field="*{subject}">
                        <option th:each="subject : ${subjects}" th:text="${subject.name}" th:value="${subject.id}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Mark</td>
                <td><input th:field="*{mark}" type="number"/></td>
                <td th:errors="*{mark}" th:if="${#fields.hasErrors('mark')}">Name Error</td>
            </tr>
            <tr>
                <td>Date Of Examination</td>
                <td><input th:field="*{dateOfExamination}" type="date"/></td>
                <td th:errors="*{dateOfExamination}" th:if="${#fields.hasErrors('dateOfExamination')}">Name Error</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Create Mark"></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>

</body>
</html>