<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
    <meta charset="UTF-8">
    <title>Delete mark</title>
</head>
<body>
<ul>
    <li><a class="active" href="/">Homepage</a></li>
    <li><a href="/admin/students">Students list</a></li>
    <li><a href="/admin/subjects">Subjects list</a></li>
    <li><a href="/admin/mark">Marks list</a></li>
    <li><a href="/admin/class/classes">Classes list</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>
<h1>Delete mark</h1>
<h2>Are you sure?</h2>
<!--<p>
    <a href="/admin/mark">Mark list</a>
</p>-->
<div id="form">
    <form method="post" th:action="@{/admin/mark/delete}" th:object="${mark}">
        <input name="id" th:field="*{id}" th:type="hidden">
        <table>
            <tr>
                <td>Name</td>
                <td th:text="*{student.name}">
                </td>
            </tr>
            <tr>
                <td>Subject</td>
                <td th:text="*{subject.name}">
                </td>
            </tr>
            <tr>
                <td>Mark</td>
                <td th:text="*{mark}"></td>
            </tr>
            <tr>
                <td>Date Of Examination</td>
                <td th:text="*{#dates.format(dateOfExamination,'dd/MM/yyyy')}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Delete mark"></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>

</body>
</html>
