<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
    <meta charset="UTF-8">
    <title>Edit mark</title>
</head>
<body>
<ul>
    <li><a class="active" href="/">Homepage</a></li>
    <li><a href="/admin/students">Students list</a></li>
    <li><a href="/admin/subjects">Subjects list</a></li>
    <li><a href="/admin/mark">Marks list</a></li>
    <li><a href="/admin/class/classes">Classes list</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>
<h1>Edit mark</h1>
<!--<p>
    <a href="/admin/mark">Mark list</a>
</p>-->
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div id="form">
    <form method="post" th:action="@{/admin/mark/edit/__${mark.id}__}" th:object="${mark}">
        <input name="id" th:field="*{id}" th:type="hidden">
        <table>
            <tr>
                <td>Name</td>
                <td th:field="*{student}" th:text="*{student.name}" th:value="*{student.id}"></td>
<!--                <td th:errors="*{student}" th:if="${#fields.hasErrors('student')}">Name Error</td>-->
            </tr>
            <tr>
                <td>Subject</td>
                <td th:field="*{subject}" th:text="*{subject.name}" th:value="*{subject.id}"></td>
<!--                <td th:errors="*{subject}" th:if="${#fields.hasErrors('subject')}">Name Error</td>-->
            </tr>
            <tr>
                <td>Mark</td>
                <td><input th:field="*{mark}" type="number"/></td>
                <td th:errors="*{mark}" th:if="${#fields.hasErrors('mark')}">Name Error</td>
            </tr>
            <tr>
                <td>Date of Examination</td>
                <td><input th:field="*{dateOfExamination}" type="date"/></td>
                <td th:errors="*{dateOfExamination}" th:if="${#fields.hasErrors('dateOfExamination')}">Name Error</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Update mark"></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>

</body>
</html>