<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
    <meta charset="UTF-8">
    <title>Mark List</title>
</head>
<body>
<ul>
    <li><a class="active" href="/">Homepage</a></li>
    <li><a href="/admin/students">Students list</a></li>
    <li><a href="/admin/subjects">Subjects list</a></li>
    <li><a href="/admin/mark">Marks list</a></li>
    <li><a href="/admin/class/classes">Classes list</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>
<ul>
    <li>
        <a href="/admin/mark/create">Create new mark</a>
    </li>
</ul>
<!--<p>
    <a href="/logout">Log Out</a>
</p>
<p>
    <a th:href="@{/}">Back to homepage</a>
</p>
<p>
    <a href="/admin/mark/create">Create new mark</a>
</p>-->
<h1>Mark List</h1>
<h2>Sort by</h2>
<form th:action="@{/admin/mark/sort/}">
    <select name="sortBy">
        <option value="-1"></option>
        <option value="student">Student</option>
        <option value="subject">Subject</option>
    </select>
    <input type="submit" value="Sort">
</form>
<!--<form th:action="@{/admin/mark}">
    Search by name
    <input name="key_word" th:type="text" th:value="${key_word}"/>
    <input type="submit" value="Search">
</form>-->
<div id="form">
    <form onchange="this.submit()" th:action="@{/admin/mark/searchByStudent}">
        <a>Search by student</a>
        <select name="studentId">
            <option value=-1></option>
            <option th:each="student :${students}"
                    th:selected="(${student.id}==${studentId})"
                    th:text="${student.name}"
                    th:value="${student.id}"></option>
        </select>
    </form>
</div>
<table border="1" id="student">
    <tr>
        <th>Name</th>
        <th>Subject</th>
        <th>Mark</th>
        <th>Class</th>
        <th>Date Of Examination</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="m : ${mark}">
        <tr>
            <td><a th:href="@{/admin/student/__${m.id}__}" th:text="${m.student.name}"></a></td>
            <td th:text="${m.subject.name}"></td>
            <td th:text="${m.mark}"></td>
            <td th:text="${m.student.clazz.name}"></td>
            <td th:text="${#dates.format(m.dateOfExamination,'dd/MM/yyyy')}"></td>
            <td><a th:href="@{/admin/mark/edit/__${m.id}__ }">Edit</a></td>
            <td><a th:href="@{/admin/mark/delete/__${m.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/admin/mark'(page = ${mark.number - 1})}" th:if="${mark.hasPrevious()}">Previous</a>
    <span th:text="${mark.number+1}"></span>/<span th:text="${mark.totalPages}"></span>
    <a th:href="@{'/admin/mark'(page = ${mark.number + 1})}" th:if="${mark.hasNext()}">Next</a>
</div>
<footer th:replace="layout :: footer"></footer>

</body>
</html>
