<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
    <meta charset="UTF-8">
    <title>Delete class</title>
</head>
<body>
<ul>
    <li><a class="active" href="/">Homepage</a></li>
    <li><a href="/admin/students">Students list</a></li>
    <li><a href="/admin/subjects">Subjects list</a></li>
    <li><a href="/admin/mark">Marks list</a></li>
    <li><a href="/admin/class/classes">Classes list</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>
<h1>Delete class</h1>
<h2>Are you sure?</h2>
<!--<p>-->
<!--    <a href="/admin/class/classes">Classes list</a>-->
<!--</p>-->
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div id="form">
    <form th:action="@{/admin/class/delete-class}" th:object="${class}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Name:</td>
                <td th:text="${class.name}"></td>
            </tr>
            <tr>
                Are you sure?
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Yes"></td>
                <td><input type="button" onclick="window.location.href='/admin/class/classes'" value="No"></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>

</body>
</html>