<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
    <meta charset="UTF-8">
    <title>Classes</title>
</head>
<body>
<ul>
    <li><a class="active" href="/">Homepage</a></li>
    <li><a href="/admin/students">Students list</a></li>
    <li><a href="/admin/subjects">Subjects list</a></li>
    <li><a href="/admin/mark">Marks list</a></li>
    <li><a href="/admin/class/classes">Classes list</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>

<ul>
    <li>
        <a href="/admin/class/create-class">Create new class</a>
    </li>
</ul>
<h1>Classes list</h1>
<form>
    Search by name:
    <input name="key_word" type="text"/>
    <input type="submit" value="Search"/>
</form>
<table border="1" id="student">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Detail</th>
    </tr>
    <th:block th:each="class:${classes}">
        <tr>
            <td th:text="${class.name}"></td>
            <td><a th:href="@{/admin/class/edit-class/__${class.id}__}">Edit</a></td>
            <td><a th:href="@{/admin/class/delete-class/__${class.id}__}">Delete</a></td>
            <td><a th:href="@{/admin/class/view/__${class.id}__}">Detail</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/classes'(page=${classes.number - 1})}" th:if="${classes.hasPrevious()}">Previous</a>
    <span th:text="${classes.number + 1}"></span>/<span th:text="${classes.totalPages}"></span>
    <a th:href="@{'/classes'(page=${classes.number + 1})}" th:if="${classes.hasNext()}">Next</a>
</div>
<footer th:replace="layout :: footer"></footer>

</body>
</html>