<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
    <meta charset="UTF-8">
    <title>Class Detail</title>
</head>
<body>
<ul>
    <li><a class="active" href="/">Homepage</a></li>
    <li><a href="/admin/students">Students list</a></li>
    <li><a href="/admin/subjects">Subjects list</a></li>
    <li><a href="/admin/mark">Marks list</a></li>
    <li><a href="/admin/class/classes">Classes list</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>
<h1>Class Detail</h1>
<!--<p>-->
<!--    <a href="/admin/class/classes">List Class</a>-->
<!--</p>-->
<form th:object="${class}">
    <h3>Class</h3>
    <h3 th:text="*{name}"></h3>
    <table border="1px" id="student">
        <tr>
            <th>Name</th>
            <th>Date Of Birth</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Class</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="student : ${students}">
            <tr>
                <td th:text="${student.name}"></td>
                <td th:text="${#dates.format(student.dateOfBirth, 'dd/MM/yyyy')}"></td>
                <td th:text="${student.mail}"></td>
                <td th:text="${student.phoneNumber}"></td>
                <td th:text="${student.clazz.name}"></td>
                <td><a th:href="@{/admin/student/edit/__${student.id}__ }">Edit</a></td>
                <td><a th:href="@{/admin/student/delete/__${student.id}__ }">Delete</a></td>
            </tr>
        </th:block>
    </table>
</form>
<footer th:replace="layout :: footer"></footer>

</body>
</html>