<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta content="text/html; charset=ISO-8859-1" http-equiv="Content-Type">
    <title>Student Management</title>
</head>
<body>
<ul>
    <li><a class="active" href="/">Homepage</a></li>
    <li><a href="/admin/students">Students list</a></li>
    <li><a href="/admin/subjects">Subjects list</a></li>
    <li><a href="/admin/mark">Marks list</a></li>
    <li><a href="/admin/class/classes">Classes list</a></li>
</ul>
<h2>Student Management</h2>
<hr/>
<h3>
    Welcome !
    <!-- Print the logged in user name -->
<!--    <div sec:authorize="isAuthenticated()">-->
<!--        <span sec:authentication="principal.username"></span>-->
<!--    </div>-->
</h3>
<!--<form id="form" method="get" th:action="@{/my-login}">-->
<!--    <div sec:authorize="isAnonymous()">-->
<!--        <input type="submit" value="Login">-->
<!--    </div>-->

<!--</form>-->

<!--<div sec:authorize="isAnonymous()">-->
<!--    Login as <a th:href="@{/user}">User</a> or <a th:href="@{/admin/mark}">Admin</a>-->
<!--</div>-->
<!--<div sec:authorize="isAuthenticated()">-->
<!--    <div sec:authorize="hasRole('USER')">-->
<!--        <a th:href="@{/user}">My Profile</a>-->
<!--    </div>-->
<!--    <div sec:authorize="hasRole('ADMIN')">-->
<!--        <a th:href="@{/admin}">My Profile</a>-->
<!--    </div>-->
<!--    <a th:href="@{/logout}">Logout</a>-->
<!--</div>-->
<!--<a href="/admin/students"> List student</a>-->
<!--<br/>-->
<!--<a href="/admin/subjects">List subject</a>-->
<!--<br/>-->
<!--<a href="/admin/mark">Mark of student</a>-->
<!--<br/>-->
<!--<a href="/admin/class/classes">List Class</a>-->
<!--<br/>-->
</body>
</html>