<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
    <meta charset="UTF-8">
    <title>Create Subject</title>
</head>
<body>
<ul>
    <li><a class="active" href="/">Homepage</a></li>
    <li><a href="/admin/students">Students list</a></li>
    <li><a href="/admin/subjects">Subjects list</a></li>
    <li><a href="/admin/mark">Marks list</a></li>
    <li><a href="/admin/class/classes">Classes list</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>
<h1>Create Subject</h1>
<!--<p>
    <a th:href="@{/admin/subjects}">Subjects list</a>
</p>
<p>
    <a th:href="@{/}">Back to homepage</a>
</p>-->
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div id="form">
    <form method="post" th:action="@{/admin/create-subject}" th:object="${subject}">
        <table>
            <tr>
                <td>Name:</td>
                <td><input th:field="*{name}" type="text"/></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" value="Create subject"></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>

</body>
</html>