<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
    <meta charset="UTF-8">
    <title>Delete Subject</title>
</head>
<body>
<ul>
    <li><a class="active" href="/">Homepage</a></li>
    <li><a href="/admin/students">Students list</a></li>
    <li><a href="/admin/subjects">Subjects list</a></li>
    <li><a href="/admin/mark">Marks list</a></li>
    <li><a href="/admin/class/classes">Classes list</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>
<!--<p>
    <a th:href="@{/}">Back to homepage</a>
</p>-->
<h1>Delete Subject</h1>
<h2>Are you sure?</h2>
<!--<p>
    <a href="/admin/subjects">Subject list</a>
</p>-->
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div id="form">
    <form method="post" th:action="@{/admin/subject/delete}" th:object="${subject}">
        <input name="id" th:field="*{id}" th:type="hidden">
        <table>
            <tr>
                <td>Name:</td>
                <td th:text="${subject.name}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Delete subject"></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>

</body>
</html>