<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

    <title>Subject</title>
</head>
<body>
<ul>
    <li><a class="active" href="/">Homepage</a></li>
    <li><a href="/admin/students">Students list</a></li>
    <li><a href="/admin/subjects">Subjects list</a></li>
    <li><a href="/admin/mark">Marks list</a></li>
    <li><a href="/admin/class/classes">Classes list</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>
<ul>
    <li>
        <a href="/admin/create-subject">Create new subject</a>
    </li>
</ul>
<!--<p>
    <a href="/logout">Log Out</a>
</p>
<p>
    <a th:href="@{/}">Back to homepage</a>
</p>
<p>
    <a href="/admin/create-subject">Create new Subject</a>
</p>-->
<h1>Subject</h1>
<table border="1" id="student">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="subject : ${subjects}">
        <tr>
            <td th:text="${subject.name}"></td>
            <td><a th:href="@{/admin/subject/edit/__${subject.id}__ }">Edit</a></td>
            <td><a th:href="@{/admin/subject/delete/__${subject.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/subject'(page=${subjects.number - 1})}" th:if="${subjects.hasPrevious()}">Previous</a>
    <span th:text="${subjects.number + 1}"></span>/<span th:text="${subjects.totalPages}"></span>
    <a th:href="@{'/subject'(page=${subjects.number + 1})}" th:if="${subjects.hasNext()}">Next</a>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>
